body {
    background-color: #f8f9fa;
}

.authentication {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 60%;
    padding-top: 5vh;
}

.authentication .btn {
    width: 100%;
}

.authentication input:valid {
    border: 1px green solid;
}

.authentication input:invalid {
    border: 1px red solid;
}